<div id="message">
</div>
<div class="container" >
  <div class="row justify-content-center">
      <table class="table bg-light" style="text-align: center">
        <%= render "reviews/thead" %>
        <tbody>
            <tr class="table-primary">
              <th colspan="2" scope="col">User Reviews</th>
            </tr>
            <tr class="table-primary">
              <th scope="col" id="Name"></th>
              <th scope="col" id="Rating"></th>
            </tr>
        </tbody>
        <tbody id="movieReviews">
        </tbody>
        <tbody id="reviewForm">
        </tbody>
        <tbody id="buttons">
        </tbody>
      </table>
  </div><!-- end row -->
</div><!-- end container -->
