<thead>
  <tr class="table-primary">
    <th colspan="2" scope="col" id="movie" data-id="<%=@movie.id%>"></th>
  </tr>
  <tr >
    <th scope="col" id="year"></th>
    <th scope="col" id="avgRating"></th>
  </tr>
  <tr style="text-align: justify">
    <td colspan="2" id="synopsis"></td>
  </tr>
</thead>
